{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Django Personal Fit">
    <meta name="keywords" content="TopGym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django | Personal Fit</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,700,900" rel="stylesheet">
    <link rel="icon" href="{% static 'images/django-personal-icon.png' %}">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/barfiller.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style404.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-menu">
                        <div class="logo">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'images/logo-django.png' %}" alt="">
                            </a>
                        </div>
                        <nav class="mobile-menu">
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                {% if user.is_authenticated %}
                                <li>
                                    <form action="{% url 'logout' %}" method="post" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" style="background:none; border:none; color:#7CFC00; cursor:pointer; font-family: 'Roboto', sans-serif; padding:0;">
                                            Logout
                                        </button>
                                    </form>
                                </li>
                                {% else %}
                                <li><a href="{% url 'login' %}">Login</a></li>
                                {% endif %}
                                <li><a href="{% url 'cadastro' %}">Cadastre-se</a></li>
                                <li><a href="{% url 'imc' %}">IMC</a></li>
                                <li><a href="{% url 'contato' %}">Contato</a></li>
                                <li class="search-btn search-trigger"><i class="fa fa-search"></i></li>
                            </ul>
                        </nav>
                        <div id="mobile-menu-wrap"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    {% block content %} {% endblock %}

    <!-- Footer Section Begin -->
    <footer class="footer-section set-bg" data-setbg="{% static 'images/footer-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-content">
                        <div class="footer-logo">
                            <a href="#"><img src="{% static 'images/logo-django.png' %}" alt=""></a>
                        </div>
                        <div class="footer-menu">
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'login' %}">login</a></li>
                                <li><a href="{% url 'cadastro' %}">Cadastre-se</a></li>
                                <li><a href="{% url 'imc' %}">Imc</a></li>
                                <li><a href="{% url 'contato' %}">Contato</a></li>
                            </ul>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="your Email">
                                <button type="submit">Sign Up</button>
                            </form>
                        </div>
                        <div class="social-links">
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                        <div class="footer-icon-img">
                            <img src="{% static 'images/footer-icon.png' %}" alt="">
                        </div>
                        <div class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/circle-progress.min.js' %}"></script>
    <script src="{% static 'js/jquery.barfiller.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>

</html>
